.bookCard {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 220px;

  &_thumbnail {
    width: 100%;
    border: 1px solid #cbcbcb;
    padding: 30px 0 10px 0;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
  }

  &_label_lending {
    color: #999;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 18px;
    display: inline-block;
    position: absolute;
    top: 15px;
    left: -25px;
    width: 100px;
    transform: rotate(-45deg);
    text-align: center;
    box-sizing: border-box;
    z-index: 100;
    background: #ddd;
    padding: 3px 10px;
  }

  &_label_notLending {
    color: #fff;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 18px;
    display: inline-block;
    position: absolute;
    top: 15px;
    left: -25px;
    width: 100px;
    transform: rotate(-45deg);
    text-align: center;
    box-sizing: border-box;
    z-index: 100;
    background: #00505A;
    padding: 3px 10px;
  }


  &_img {
    position: relative;
    display: block;
    margin: 0 auto;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    height: 185px;
    object-fit: contain;
  }

  &_title {
    position: relative;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 12px;
    line-height: 1.1;

    &::before {
      position: absolute;
      top: 5px;
      left: -20px;
      content: "＞";
      font-size: 12px;
      font-weight: normal;
    }
  }

  &_author {
    font-size: 0.875rem;
    margin: 5px 0;
  }

  &_desc {
    font-size: 0.85rem;
    margin: 8px 0;
  }

  &_text_wrap {
    padding-left: 20px;
    margin: 5px 0;
  }
}
