.historyList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-content: center;
  grid-auto-rows: minmax(0, auto);
  gap: 30px;

  &_card {
    width: 220px;
  }

  &_thumbnail {
    width: 100%;
    border: 1px solid #cbcbcb;
    padding: 30px 0 10px 0;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
  }

  li {
    margin-bottom: 30px;
    text-align: center;
  }

  p {
    margin-top: 3px;
    font-size: 0.9rem;
  }

  &_title {
    display: block;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 10px;
    font-size: 0.9rem;

    &:hover {
      opacity: 0.7;
    }
  }

  &_img {
    margin: 0 auto;
  }
}
