.bookForm {
  width: 65%;
  margin: 0 auto;

  &_input {
    display: block;
    height: 80px;
    width: 100%;
    padding: 0.5rem;
    letter-spacing: 2.5px;
    border: 1px solid #d1d5db;
    border-radius: 0.25rem;
    resize: none;

    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px #3b82f6;
    }
  }

  &_label {
    margin-bottom: 3px;
    color: gray;
    letter-spacing: 2.5px;
    display: inline-block;
    margin-top: 10px;

    span {
      color: #d9534f;
    }
  }

  &_select {
    display: block;
    border: 1px solid;
    width: 30%;
    padding: 10px;
    border: 1px solid #d1d5db;
    border-radius: 0.25rem;
  }

  &_button {
    background-color: #4169e1;
    color: white;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 4px;
    margin-top: 20px;

    &:hover {
      opacity: 0.8;
    }
  }

  &_caution {
    letter-spacing: 2.5px;
    margin-bottom: 30px;

    h2 {
      font-size: 1.3rem;
      color: #d9534f;
      font-weight: bold;
    }

    ul {
      margin-top: 10px;
      list-style: inside;
    }

    li {
      line-height: 2.2;
    }

    b {
      color: #d9534f;
    }
  }

  // ISBNコードについて
  details {
    margin-top: 5px;

    summary {
      color: #3b82f6;
      font-size: 0.9rem;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    strong {
      font-size: 0.9rem;

      &:first-child {
        display: block;
        margin-top: 8px;
      }
    }

    p {
      font-size: 0.9rem;
      line-height: 1.5;
      margin: 5px 0;
    }

    img {
      display: block;
      border: 1px solid #333;
    }
  }
}
